/* App.css */
html {
  border: 2px solid yellow;
  background-image: url('/public/bg12.svg'); /* Use the correct path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.clues-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 40%;
}

.clues {
  display: flex;
  flex-direction: column; /* Stack boxes vertically */
  justify-content: center;
  width: 50%; /* Give the clues section half the container width */
}

.clue-box {
  width: 100%;
  height: 20px;
  margin: 10px 0; /* Add vertical margin between boxes */
  background-color: #153449; /* Default to green for unrevealed clues */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  transition: background-color 0.3s ease;
  padding: 15px 5px;
}

.clue-box.revealed {
  background-color: #de4e2c; /* Turn white for revealed clues */
  color: black; /* Keep the text visible on white */
}

.answer-box {
  width: 50%;
  height: 20px; /* Ensure it matches the height of the clue section */
  margin-left: 20px;
  background-color: #153449;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px 5px;
  transition: background-color 0.3s ease;
}

.answer-box.revealed {
  background-color: #de4e2c; /* Revealed answer box */
  color: black;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  background-color: #de4e2c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #d14227;
}

p {
  margin-top: 1em;
  font-size: 1.2em;
}

